AlignAfterOpenBracket: DontAlign
AlignOperands: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

AllowAllParametersOfDeclarationOnNextLine: false

AlwaysBreakAfterDefinitionReturnType: None

AlwaysBreakBeforeMultilineStrings: true

BreakAfterOpenBracketFunction: true
BreakAfterReturnType: Automatic

BreakBeforeBinaryOperators: NonAssignment

BreakBeforeBraces: Allman
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeConceptDeclarations: true
#BreakBeforeReturnType: true # for clang-format >= 23
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true

BasedOnStyle: GNU

BinPackParameters: OnePerLine # for clang-format <=22

ColumnLimit: 100
ContinuationIndentWidth: 4

IndentWidth: 4

PenaltyReturnTypeOnItsOwnLine: 1000

#PackParameters:           # for clang-format >= 23
#  BinPack: UseBreakAfter
#  BreakAfter: 3

ReflowComments: Always

SortIncludes: false

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false

SpacesBeforeTrailingComments: 4

SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1

TabWidth: 4
UseTab: ForIndentation
